/* Base Styling for the Navbar */
.custom-nav {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
}

.nav-container {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f75023;
}

/* Menu Icon for Mobile */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: 0.3s;
}

/* Custom Button */
.nav-button .custom-button {
    background-color: #f75023;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Responsive Styling */
@media (max-width: 1000px) {
    .nav-links li {
        margin: 0 10px;
    }
}
/* Responsive Styling */
@media (max-width: 850px) {
    .nav-links {
        margin: 0;
        position: absolute;
        top: 100px;
        left: -1000%;
        flex-direction: column;
        background-color: #19191C;
        width: 100%;
        text-align: left;
        transition: all 0.3s ease;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        width: 100%;
        margin: 20px 0;
        text-align: left;
    }

    .menu-icon {
        display: flex;
    }
}
